{% extends 'base.html' %}
{% block main_content %}
{% load static %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        {% if user.is_authenticated %}
        Welcome, {{ user.first_name }} {{ user.last_name }}!
        {% else %}
        Welcome, stranger!
        {% endif %}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="location.href='{% url 'upload' %}';">
                Upload a previous
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                onclick="location.href='{% url 'upload' %}';">
                Search previouses
            </button>
        </div>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-4 bg-light border rounded-3">
            <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom">
                <h1 class="h2">Popular Courses</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">See all courses</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Previouses count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in best_courses %}
                    <tr>
                        <td>{{ c.letter_code }}{{ c.number }}</td>
                        <td>{{ c.title }}</td>
                        <td>{{ c.previouses_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-4 bg-light border rounded-3">
            <div class="d-flex justify-content-between flex-wrap align-items-center border-bottom">
                <h1 class="h2">Latest Previouses Submitted</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">See all courses</button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-sm">
                <tbody>
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Type</th>
                            <th>Semester</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    {% if latest_prevs %}
                    {% for prev in latest_prevs %}
                    <tr>
                        <td>{{ prev.course.letter_code }} {{ prev.course.number }}</td>
                        <td>{{ prev.type }}</td>
                        <td>{{ prev.semester }} - {{ prev.academic_year }}</td>
                        <td>{{ prev.timestamp.date }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="bg-light border rounded-3 mt-3">
    <div class="table-responsive m-3">
        <h1 class="h2 pb-2 m-3">Best Users</h1>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Member since</th>
                    <th>Number of previouses submitted</th>
                </tr>
            </thead>
            <tbody>
                {% for u in best_users %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.date_joined.date }}</td>
                    <td>{{ u.previouses_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}